<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

    <h1>A Simple Google Apps Engine Applications here ...</h1>
    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Submit"></div>
    </form>

    <form action="/sign2" method="post">
      <div><textarea name="content2" rows="3" cols="60"></textarea></div>
      <div><input type="submit" value="Scramble"></div>
    </form>

    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.date }}</b> - 
        <b>{{ greeting.author.nickname }}</b> wrote:
      {% else %}
	<b>{{ greeting.date }}</b> -
        <b>An anonymous person</b> wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}


    <a href="{{ url }}">{{ url_linktext }}</a>

  </body>
</html>
