<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
    <script type="text/javascript" src="javascripts/drdsmenu.js"></script> 
  </head>
  <body>

    <center>
    <h1>A Simple Google Apps Engine Applications here ......</h1>
    
    <a href="http://www.vanbellenet.be"><img alt="VanbelleNet" src="pictures/i_m_a_python_programmer_160_120.png" title="VanbelleNet"></a>
    <a href="http://www.vanbellenet.be"><img alt="VanbelleNet" src="pictures/i_m_a_perl_programmer_160_120.png" title="VanbelleNet"></a>
    <a href="http://www.vanbellenet.be"><img alt="VanbelleNet" src="pictures/i_m_a_java_programmer_160_120.png" title="VanbelleNet"></a>
    <a href="http://www.vanbellenet.be"><img alt="VanbelleNet" src="pictures/i_m_a_bash_programmer_160_120.png" title="VanbelleNet"></a>

    <p></p>

    <p></p>

    <form action="/scramble" method="post">
      <div><input type="submit" value="Scramble"></div>
      <div><textarea name="text2scramble" rows="10" cols="60"></textarea></div>
    </form>
    
    <form action="/scramble2" method="post">
      <div><input type="submit" value="Scramble2"></div>
      <div><textarea name="text2scramble" rows="10" cols="60"></textarea></div>
    </form>
    
    {% for greeting in greetings %}
    {% if greeting.author %}
    <b>{{ greeting.date }}</b> - 
    <b>{{ greeting.author.nickname }}</b> ==>> 
    {% else %}
    <b>{{ greeting.date }}</b> -
    <b>An anonymous person</b> ==>>
    {% endif %}
    <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}
    
    
    <a href="{{ url }}">{{ url_linktext }}</a>
    </center>
  </body>
</html>
